<!DOCTYPE html>
<html>

<head>
	<title></title>
    <link rel="stylesheet" href="dos.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}"> 
</head>

<body class= "background">

	<div class="screen">
        <a href="/dispatchdashboard" style="color: gray;">Dashboard</a>
		10 Codes

<ul>
<li>10-0 Disappeared</li>
<li>10-1 Frequency Change</li>
<li>10-3 Stop Transmitting</li>
<li>10-4 Affirmative</li>
<li>10-5 Meal Break</li>
<li>10-6 Busy</li>
<li>10-7 Out of Service</li>
<li>10-8 In Service</li>
<li>10-9 Repeat</li>
<li>10-10 Fight in Progress</li>
<li>10-11 Traffic Stop</li>
<li>10-12 Active Ride Along</li>
<li>10-13 Shots Fired</li>
<li>10-15 Subject in custody en route to Station</li>
<li>10-16 Stolen Vehicle</li>
<li>10-17 Suspicious Person</li>
<li>10-20 Location</li>
<li>10-22 Disregard</li>
<li>10-23 Arrived on Scene</li>
<li>10-25 Domestic Dispute</li>
<li>10-26 ETA (Estimated Time of Arrival)</li>
<li>10-27 Drivers License Check</li>
<li>10-28 Vehicle License Plate Check</li>
<li>10-29 NCIC Warrant Check</li>
<li>10-30 Wanted Person</li>
<li>10-31 Not Wanted No Warrants</li>
<li>10-32 Request Backup (Code 1,2,3)</li>
<li>10-35 Wrap The Scene Up</li>
<li>10-41 Beginning Tour of Duty</li>
<li>10-42 Ending Tour of Duty</li>
<li>10-43 Information</li>
<li>10-49 Homicide</li>
<li>10-50 Vehicle Accident: PD: Property Damage, PI: Person/s Injured, F: Fatal</li>
<li>10-51 Request Towing Service</li>
<li>10-52 Request EMS</li>
<li>10-53 Request Fire Department</li>
<li>10-55 Intoxicated Drivers</li>
<li>10-56 Intoxicated Pedestrian</li>
<li>10-60 Armed with a Gun</li>
<li>10-61 Armed with a Knife</li>
<li>10-62 Kidnapping</li>
<li>10-64 Sexual Assault</li>
<li>10-65 Escorting Prisoner</li>
<li>10-66 Reckless Drivers</li>
<li>10-67 Fire</li>
<li>10-68 Armed Robbery</li>
<li>10-70 Foot Pursuit</li>
<li>10-71 Request Supervisor at Scene</li>
<li>10-73 Advise Status</li>
<li>10-80 Vehicle Pu</li>
<li>10-90 In Game Warning</li>
<li>10-93 Removed From Game</li>
<li>10-95 Server Restart</li>
<li>10-97 en Route</li>
<li>10-99 Officer in Distress (Extreme Emergency Only)</li>
<li>11-44 Person Deceased</li>

<li>Signal 100 Emergency Traffic Only</li>
<li>Signal 60 Drugs</li>
<li>Signal 11 Running Radar</li>
<li></li>
<li>Code 0 Emergency Traffic Only</li>
<li>Code 4 Under Control</li>
<li>Code 5 Felony Stop/High Risk Stop</li>
</ul>
		<div class="footer">
			<p>&lt;Shift+F1=Help&gt; &lt;F6=Window&gt; &lt;F2=Subs&gt; &lt;F8=Step&gt;</p>
		</div>
	</div>
</body>

</html>