<!DOCTYPE html>
<html>

	<head>
		<title></title>
		{% load static %}
		<link rel="stylesheet" href="{% static '/dos.css' %}">
	</head>

<body>
	
	<div class="screen">
	

		<div class="content2 column center center-x">
            <span class="data">WARNING! DO NOT CHANGE ANOTHER OFFICERS STATUS WITHOUT AUTHORIZATION
            <img src="{% static 'badge.png' %}" /><br>
			<div class="panel">
                <p>Add unit to current call</p>

					<a href="dashboard">Cancel</a>
                </form>   
                        
					
					
				
			</div>
		

		<div class="footer">
			<p>&lt;Shift+F1=Help&gt; &lt;F6=Window&gt; &lt;F2=Subs&gt; &lt;F8=Step&gt;</p>
		</div>
	</div>
</div>
</body>

</html>