<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wicked Life Role Play CAD System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/dos.css' %}">
</head>
<body>
    <div class="crt-container">
        <div class="crt-screen">
            <div class="screen-content">
                <header class="dos-header">
                    <h4 class="version-label">ALPHA VERSION</h4>
                </header>

                <nav class="menubar">
                    <div class="menu-item">Navigate
                        <div class="menu">
                            <div class="menu-content">
                                <p><a href="/login">San Andreas State Police</a></p>
                                <p><a href="/dispatchlogin">San Andreas Dispatch System</a></p>
                                <p><a href="#">Fire/EMS Department</a></p>
                                <p><a href="#">Department Of Motor Vehicle (civ)</a></p>
                                <hr>
                                <p><a href="#">Help</a></p>
                                <hr>
                                <p><a href="/logout">Exit</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item"><a href="/admin/" class="admin-link">Administration</a></div>
                </nav>

                <main class="content">
                    <div class="logo-container">
                        <img src="{% static 'LSDOJ.png' %}" alt="LSDOJ Logo" class="main-logo">
                    </div>
                    <div class="disclaimer">
                        <p>This is a secure CAD system, which may be accessed and used only for authorized CAD business by authorized personnel. Unauthorized access or use of this computer system may subject violators to criminal, civil, and/or administrative action.</p>
                        <p>All information on this CAD system may be intercepted, recorded, read, copied, and disclosed by and to authorized personnel for official purposes, including criminal investigations. Such information includes sensitive data encrypted to comply with confidentiality and privacy requirements. Access or use of this CAD system by any person, whether authorized or unauthorized, constitutes consent to these terms. There is no right of privacy in this system.</p>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
</html>
