<!DOCTYPE html>
<html>

	<head>
		<title></title>
		{% load static %}
		<link rel="stylesheet" href="{% static '/dos.css' %}">
	</head>

<body>
	
	<div class="screen">
	

		<div class="content2 column center center-x">
            <span class="data">WARNING! DO NOT CHANGE ANOTHER OFFICERS STATUS WITHOUT AUTHORIZATION
            <img src="{% static 'badge.png' %}" /><br>
			<div class="panel">

                <h1>UPDATE UNIT</h1>
				<form action="/editstatusdispatch/{{showStatus.id}}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label>Badge#:&nbsp;</label>
						{{showStatus}}
					</div>
					<div class="form-group">
						<label>Last Name:&nbsp;&nbsp;</label>
						{{showStatus.last_name}}
					</div>
                    <div class="form-group">
                        <label>Current Status:&nbsp;&nbsp;</label>
                        {{showStatus.status}}
                        <br>
                        <label for="status">Change Status:</label>
                        <select id="status" name="status">
                          <option value="10-8">10-8</option>
                          <option value="10-6">10-6</option>
                          <option value="10-7">10-7</option>
                        </select>
					</div>
					<input type="submit" value="Change Status">
					<a href="dashboard">Cancel</a>
                </form>   
                        
					
					
				
			</div>
		

		<div class="footer">
			<p>&lt;Shift+F1=Help&gt; &lt;F6=Window&gt; &lt;F2=Subs&gt; &lt;F8=Step&gt;</p>
		</div>
	</div>
</div>
</body>

</html>